body {
    margin: 0;
    overflow: hidden;
    background-color: #222;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.carre {
    position: absolute;
    background-color: red;
    border-radius: 10%;
    animation: changeColor 2s linear infinite;
}

/* Animation pour changer de couleur en boucle */
@keyframes changeColor {
    0% {
        background-color: red;
    }
    25% {
        background-color: green;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: yellow;
    }
    100% {
        background-color: red;
    }
}
